doctype html
html(lang='en')
  head
    title Jade App
    // Bootstrap & Bootswatch
    if theme
      link(rel="stylesheet", href="https://bootswatch.com/${theme}/bootstrap.min.css")
    else  
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
      
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,700', type='text/css')
    link(rel="stylesheet", href="style.css")
    script(src="http://code.jquery.com/jquery-2.2.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    
  title 
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Jade App
          ul.nav.navbar-nav
            li.active
              a(href='/msgpage') Message Board
              
    block content


//- doctype html
//- html(lang="en")
//-   head
//-     title= bacon
//-     link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
//-     link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
//-     
//-     script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
//-     script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
//-     
//-   body
//-     
//-     nav.navbar.navbar-default
//-       .container-fluid
//-         // Brand and toggle get grouped for better mobile display
//-         .navbar-header
//-           button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
//-             span.sr-only Toggle navigation
//-             span.icon-bar
//-             span.icon-bar
//-             span.icon-bar
//-           a.navbar-brand(href='#') Brand
//-         // Collect the nav links, forms, and other content for toggling
//-         #bs-example-navbar-collapse-1.collapse.navbar-collapse
//-           ul.nav.navbar-nav
//-             li.active
//-               a(href='#')
//-                 | Link 
//-                 span.sr-only (current)
//-             li
//-               a(href='#') Link
//-             li.dropdown
//-               a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
//-                 | Dropdown 
//-                 span.caret
//-               ul.dropdown-menu
//-                 li
//-                   a(href='#') Action
//-                 li
//-                   a(href='#') Another action
//-                 li
//-                   a(href='#') Something else here
//-                 li.divider(role='separator')
//-                 li
//-                   a(href='#') Separated link
//-                 li.divider(role='separator')
//-                 li
//-                   a(href='#') One more separated link
//-           form.navbar-form.navbar-left(role='search')
//-             .form-group
//-               input.form-control(type='text', placeholder='Search')
//-             button.btn.btn-default(type='submit') Submit
//-           ul.nav.navbar-nav.navbar-right
//-             li
//-               a(href='#') Link
//-             li.dropdown
//-               a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
//-                 | Dropdown 
//-                 span.caret
//-               ul.dropdown-menu
//-                 li
//-                   a(href='#') Action
//-                 li
//-                   a(href='#') Another action
//-                 li
//-                   a(href='#') Something else here
//-                 li.divider(role='separator')
//-                 li
//-                   a(href='#') Separated link
//-     
//-     block content
  
//- CUSTOM LAYOUT with CADE
//- doctype html
//- html(lang="en")
//-   head
//-     title= bacon
//-     
//-     
//-   body
//-     h1 FIRST Jade Layout
//-     block stuff 
